<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DboardMapper">

	<resultMap type="Dboard" id="resultDboard">
		<id column="d_num" property="dNum" />
		<result column="user_id" property="userId" />
		<result column="unique_num" property="uniqueNum" />
		<result column="d_writer" property="dWriter" />
		<result column="d_title" property="dTitle" />
		<result column="d_content" property="dContent" />
		<result column="d_find_date" property="dFindDate" />
		<result column="d_find_local" property="dFindLocal" />
		<result column="d_gender" property="dGender" />
		<result column="d_category" property="dCategory" />
		<result column="d_local" property="dLocal" />
		<result column="d_phone" property="dPhone" />
		<result column="d_point" property="dPoint" />
		<result column="d_date" property="dDate" />
		<result column="d_mdate" property="dMdate" />
		<result column="d_count" property="dCount" />
		<result column="map_x" property="mapX" />
		<result column="map_y" property="mapY" />
		<result column="d_check" property="dCheck" />
		<result column="d_success" property="dSuccess" />
		<result column="original_file" property="originalFile" />
		<result column="rename_file" property="renameFile" />
		
			
	</resultMap>
	
	<resultMap type="Dboard" id="resultNew4">
		<result column="d_num" property="dNum" />
		<result column="d_title" property="dTitle" />
		<result column="d_count" property="dCount" />
	</resultMap>
	
	<!-- 비교연산자를 쿼리문에 그냥 사용하면 태그 엘리먼트 꺽쇠( < , > , &) 과 혼동하는 문제가 발생할 수 있음.
	이 문제를 미연에 방지하기 위해 xml 코드 중 xml parser 에 의해 해석하지 말고
	문장 그래도 해석하라는 뜻으로 
	<![CDATA[ 쿼리문장]]> 사용함 -->
	
	
	<select id="selectNew4" resultMap="resultNew4">
		<![CDATA[ 
		SELECT * 
		FROM (SELECT ROWNUM RNUM, BOARD_NUM, BOARD_TITLE, BOARD_READCOUNT  
			  FROM(SELECT * 
					FROM BOARD 
					WHERE BOARD_LEVEL = 0 
					ORDER BY BOARD_READCOUNT DESC)) 
		WHERE RNUM >=1 AND RNUM <=4
		]]>
	</select>

	
</mapper>
