<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap type="Member" id="resultMember">
		<id property="uniqueNum" column="unique_num"/>
		<result property="userId" column="user_id"/>
		<result property="userPwd" column="user_pwd"/>
		<result property="nickname" column="nickname"/>
		<result property="phone" column="phone"/>
		<result property="originProfile" column="origin_profile"/>
		<result property="renameProfile" column="rename_profile"/>
		<result property="joinDate" column="join_date"/>
		<result property="lastAccessDate" column="last_access_date"/>
		<result property="loginType" column="login_type"/>
		<result property="loginLimit" column="login_limit"/>
	</resultMap>

	<resultMap type="Member" id="resultList">
		<result property="uniqueNum" column="unique_num"/>
		<result property="userId" column="user_id"/>
		<result property="userPwd" column="user_pwd"/>
		<result property="nickname" column="nickname"/>
		<result property="phone" column="phone"/>
		<result property="originProfile" column="origin_profile"/>
		<result property="renameProfile" column="rename_profile"/>
		<result property="joinDate" column="join_date"/>
		<result property="lastAccessDate" column="last_access_date"/>
		<result property="loginType" column="login_type"/>
		<result property="loginLimit" column="login_limit"/>
	</resultMap>
	
	
	<select id="selectLogin" parameterType="Member" resultMap="resultMember">
		select * from member where user_id = #{userId}
	</select>
	
	<select id="selectUserIdCheck" parameterType="Member" resultMap="resultMember">
		select * from member where user_id = #{userId}
	</select>
	
	<select id="selectNicknameCheck" parameterType="Member" resultMap="resultMember">
		select * from member where nickname = #{nickname}
	</select>
	
	<select id="selectNicknameCheckList" parameterType="Member" resultMap="resultList">
		select * from member where  nickname like '%' || #{ nickname } || '%' and nickname != '관리자'
	</select>
	
	<select id="selectNicknameCount" parameterType="Member" resultType="_int">
		select count(nickname) from member where  nickname like '%' || #{ nickname } || '%' and nickname != '관리자'
	</select>
	
	<select id="selectPhoneCheck" parameterType="Member" resultMap="resultMember">
		select * from member where phone = #{phone}
	</select>
	
	<select id="selectUserIdPhoneCheck" parameterType="Member" resultMap="resultMember">
		select * from member where user_id = #{userId} and phone = #{phone}
	</select>
	
	<select id="selectUserPwdCheck" parameterType="Member" resultMap="resultMember">
		select * from member where user_id = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member values (UNIQUE_NUM_SEQ.NEXTVAL, #{userId}, #{userPwd}, #{nickname}, #{phone}, #{originProfile}, #{renameProfile}, DEFAULT, DEFAULT, null, DEFAULT)
	</insert>
	
	<update id="updateMemberPwd" parameterType="Member">
		update member set user_pwd = #{userPwd} where user_id = #{userId} and phone = #{phone}
	</update>
	
	<update id="updatemyinfo" parameterType="Member">
		update member set nickname = #{nickname}, phone = #{phone}, origin_profile = #{originProfile}, rename_profile = #{renameProfile} where user_id = #{userId}
	</update>
	
	
	<insert id="insertLeaveMember" parameterType="Member">
		INSERT INTO LEAVE_MEMBER (L_UNIQUE_NUM, L_USER_ID, L_USER_PWD, L_NICKNAME, L_PHONE, L_JOIN_DATE, L_LOGIN_TYPE)
		SELECT UNIQUE_NUM, USER_ID, USER_PWD, NICKNAME, PHONE, JOIN_DATE, LOGIN_TYPE
		FROM MEMBER
		WHERE user_id = #{userId}
	</insert>
	
	<delete id="deleteMember" parameterType="Member">
		delete member where user_id = #{userId}
	</delete>
</mapper>
