<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vreplyMapper">
	
	<resultMap type="Vreply" id="resultVreply">
	 	<result column="vreply_no" property="vreply_no" />
	 	<result column="volno" property="volno" />
	 	<result column="nickname" property="nickname" />
	 	<result column="vreply_date" property="vreply_date" />
	 	<result column="vreply_content" property="vreply_content" />
	 	<result column="parant_reply" property="parant_reply" />
	 	<result column="vreply_level" property="vreply_level" />
	</resultMap> 
	
	<!-- 비교연산자를 쿼리문에 그냥 사용하면 태그 엘리먼트 '< , >, &' 과 혼동하는 문제가 발생할 수 있다. -->
	<!-- 이 문제를 미연에 방지하기 위해 xml 코드 중 xml parser에 의해 해석하지 말고, 문장 그대로 해석하라는 뜻으로  
	       <![CDATA[ 쿼리문장 ]]> 사용함-->

	<!-- <select id="selectList" parameterType="com.kh.runningdog.volunteer.model.vo.VolunteerPage" resultMap="resultVolunteer">
			<![CDATA[  
			select * from (select rownum rnum, volno, voltitle, volwriter, volcontent, voldate, 
											voltel, volterm, volname, volor1, volre1, volor2, volre2 volor3, volre3, voladdress,volche  
								 from(select * 
								 		 from  volunteer 
								 		 order by volno desc)) 
			 where rnum >= #{startRow} and rnum <= #{endRow} 
			 ]]>
	</select>
	<select id="selectVreply"  parameterType="_int"  resultMap="resultVolunteer">
			select * from volunteer where volno = #{ volno }
	</select>
	<insert id="insertVreply" parameterType="Vreply">
				insert into vreply (vreply_no, volno, nickname, vreply_date, vreply_content)
				values(VREPLY_SEQ.NEXTVAL, #{volno}, #{nickname}, sysdate, #{vreply_content}) 
	</insert> -->
	<!-- <insert id="insertReply2" parameterType="Board">
			insert into board 
			values ((select max(board_num) + 1 from board), 
					 #{board_title}, #{board_writer}, #{board_content}, 
					 null, null, sysdate, 2, #{board_ref}, 
					 #{board_reply_ref}, #{board_reply_seq}, default)
	</insert> --> 
	
	<!-- <update id="updateReply" parameterType="Board">
			update board 
			set board_title = #{board_title}, 
				  board_content = #{board_content}
			where board_num = #{board_num}
	</update>
	<update id="updateReplySeq1" parameterType="Board">
	    	update board 
	    	set board_reply_seq = board_reply_seq + 1 
	    	where board_ref = #{board_ref} 
	    	and board_level = #{board_level}
	</update>
	<update id="updateReplySeq2" parameterType="Board">
	    	update board 
	    	set board_reply_seq = board_reply_seq + 1 
	    	where board_ref = #{board_ref} 
	    	and board_level = #{board_level} 
	    	and board_reply_ref = #{board_reply_ref}
	</update> -->
	<!-- <delete id="deleteVreply" parameterType="Vreply">
			delete from vreply
				   where VREPLY_NO = #{ volno }
		
	</delete> -->
	
</mapper>