<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	
 		<settings>
 		 	 <!-- null일때 null값 넣기 -->
			<setting name="jdbcTypeForNull" value="NULL"/>
			 <!-- _언더바가 카멜표기법으로 맵핑처리해주는 것 -->
			<setting name="mapUnderscoreToCamelCase" value="true"/>
	    </settings>
		
		
		<typeAliases>
			<typeAlias type="com.kh.runningdog.dboard.model.vo.Dboard" alias="Dboard" />
			<typeAlias type="com.kh.runningdog.member.model.vo.Member" alias="Member" />
		</typeAliases>
		
		<mappers>
			<mapper resource="mappers/dboard-mapper.xml" />
			<mapper resource="mappers/member-mapper.xml" />
		</mappers>
</configuration> 
