@charset "utf-8";

@import url('xeicon.css');
@import url('admin_layout.css');
@import url('board.css');

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
legend {
    display: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
*:hover {
    transition: 0.2s;
}


/* 사이트 기본구성 */
html {
    font-size: 16px;
}
body {
    height:100%;
    word-break:keep-all;
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', '돋움', sans-serif;
}
body,input,textarea,select,button {
    font-weight:normal;
    line-height:22px;
}
table,th,h1,h2,h3,h4,h5,h6 {
    color:#111;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'TmoneyRoundWindExtraBold';
}
img,input,select,textarea {
    vertical-align:top;
}
a {
    text-decoration:none;
    color:#555;
    transition:0.3s;
    letter-spacing: -0.1px;
}
a:hover {
    text-decoration:none;
    color:#004483;
}
img {
    vertical-align: middle
}


/* 강제클래스 */
.ipt-fl	{float:left !important;}
.ipt-fr	{float:right !important;}
.ipt-cb {clear:both !important;}
.ipt-ac {text-align:center !important;}
.ipt-al {text-align:left !important;}
.ipt-ar {text-align:right !important;}
.ipt-vt {vertical-align:top !important;}
.ipt-vm {vertical-align:middle !important;}
.ipt-vb {vertical-align:bottom !important;}
.ipt-jf	{text-align:justify !important;}
.ipt-oh {overflow:hidden !important;}
.ipt-cp {cursor:pointer !important;}
.ipt-di {display:inline !important;}
.ipt-dn {display:none !important;}
.ipt-db {display:block !important;}
.ipt-vv {visibility:visible !important;}
.ipt-vh {visibility:hidden !important;}
.ipt-bn {border:none !important;}
.ipt-btn {border-top:none !important;}
.ipt-bbn {border-bottom:none !important;}
.ipt-bln {border-left:none !important;}
.ipt-brn {border-right:none !important;}
.ipt-bgn {background:none !important;}


/* 가로사이즈 (%) */
.w100p {width:100% !important;}
.w99p {width:99% !important;}
.w95p {width:95% !important;}
.w94p {width:94% !important;}
.w93p {width:93% !important;}
.w90p {width:90% !important;}
.w89p {width:89% !important;}
.w88p {width:88% !important;}
.w87p {width:87% !important;}
.w86p {width:86% !important;}
.w85p {width:85% !important;}
.w84p {width:84% !important;}
.w83p {width:83% !important;}
.w82p {width:82% !important;}
.w81p {width:81% !important;}
.w80p {width:80% !important;}
.w79p {width:79% !important;}
.w78p {width:78% !important;}
.w77p {width:77% !important;}
.w76p {width:76% !important;}
.w75p {width:75% !important;}
.w70p {width:70% !important;}
.w68p {width:68% !important;}
.w67p {width:67% !important;}
.w66p {width:66% !important;}
.w65p {width:65% !important;}
.w60p {width:60% !important;}
.w55p {width:55% !important;}
.w50p {width:50% !important;}
.w49p {width:49% !important;}
.w48p {width:48% !important;}
.w46p {width:46% !important;}
.w45p {width:45% !important;}
.w42p {width:42% !important;}
.w41p {width:41% !important;}
.w40p {width:40% !important;}
.w39p {width:39% !important;}
.w38p {width:38% !important;}
.w37p {width:37% !important;}
.w36p {width:36% !important;}
.w35p {width:35% !important;}
.w34p {width:34% !important;}
.w33p {width:33% !important;}
.w32p {width:32% !important;}
.w31p {width:31% !important;}
.w30p {width:30% !important;}
.w29p {width:29% !important;}
.w28p {width:28% !important;}
.w27p {width:27% !important;}
.w26p {width:26% !important;}
.w25p {width:25% !important;}
.w24p {width:24% !important;}
.w23p {width:23% !important;}
.w22p {width:22% !important;}
.w20p {width:20% !important;}
.w19p {width:19% !important;}
.w15p {width:15% !important;}
.w10p {width:10% !important;}
.w5p {width:5% !important;}

/* 가로사이즈 (PX) */
.w10 {width:10px !important;}
.w19 {width:19px !important;}
.w20 {width:20px !important;}
.w24 {width:24px !important;}
.w25 {width:25px !important;}
.w30 {width:30px !important;}
.w35 {width:35px !important;}
.w40 {width:40px !important;}
.w42 {width:42px !important;}
.w50 {width:50px !important;}
.w52 {width:52px !important;}
.w60 {width:60px !important;}
.w70 {width:70px !important;}
.w72 {width:72px !important;}
.w80 {width:80px !important;}
.w82 {width:82px !important;}
.w90 {width:90px !important;}
.w100 {width:100px !important;}
.w110 {width:110px !important;}
.w120 {width:120px !important;}
.w122 {width:122px !important;}
.w140 {width:140px !important;}
.w150 {width:150px !important;}
.w152 {width:152px !important;}
.w170 {width:170px !important;}
.w172 {width:172px !important;}
.w180 {width:180px !important;}
.w182 {width:182px !important;}
.w190 {width:190px !important;}
.w200 {width:200px !important;}
.w210 {width:210px !important;}
.w220 {width:220px !important;}
.w230 {width:230px !important;}
.w240 {width:240px !important;}
.w250 {width:250px !important;}
.w252 {width:252px !important;}
.w255 {width:255px !important;}
.w280 {width:280px !important;}
.w300 {width:300px !important;}
.w310 {width:310px !important;}
.w350 {width:350px !important;}
.w400 {width:400px !important;}
.w410 {width:410px !important;}
.w450 {width:450px !important;}
.w465 {width:465px !important;}
.w500 {width:500px !important;}
.w600 {width:600px !important;}
.w610 {width:630px !important;}
.w630 {width:630px !important;}
.w650 {width:650px !important;}
.w700 {width:700px !important;}

/* 세로사이즈 */
.h30 {height:30px !important;}
.h35 {height:35px !important;}
.h40 {height:40px !important;}
.h42 {height:42px !important;}
.h50 {height:50px !important;}
.h52 {height:52px !important;}
.h60 {height:60px !important;}
.h70 {height:70px !important;}
.h72 {height:72px !important;}
.h80 {height:80px !important;}
.h82 {height:82px !important;}
.h90 {height:90px !important;}
.h100 {height:100px !important;}


/* 마진-상단 */
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:0.0625rem !important;}
.mt2 {margin-top:0.125rem !important;}
.mt3 {margin-top:0.1875rem !important;}
.mt4 {margin-top:0.25rem !important;}
.mt5 {margin-top:0.3125rem !important;}
.mt10 {margin-top:0.625rem !important;}
.mt15 {margin-top:0.9375rem !important;}
.mt20 {margin-top:1.25rem !important;}
.mt25 {margin-top:1.563rem !important;}
.mt30 {margin-top:1.875rem !important;}
.mt35 {margin-top:2.188rem !important;}
.mt40 {margin-top:2.5rem !important;}
.mt45 {margin-top:2.813rem !important;}
.mt50 {margin-top:3.125rem !important;}
.mt55 {margin-top:3.438rem !important;}
.mt60 {margin-top:3.75rem !important;}


/* 마진-하단 */
.mb0 {margin-bottom:0 !important;}
.mb1 {margin-bottom:0.0625rem !important;}
.mb2 {margin-bottom:0.125rem !important;}
.mb3 {margin-bottom:0.1875rem !important;}
.mb4 {margin-bottom:0.25rem !important;}
.mb5 {margin-bottom:0.3125rem !important;}
.mb10 {margin-bottom:0.625rem !important;}
.mb15 {margin-bottom:0.9375rem !important;}
.mb20 {margin-bottom:1.25rem !important;}
.mb25 {margin-bottom:1.563rem !important;}
.mb30 {margin-bottom:1.875rem !important;}
.mb35 {margin-bottom:2.188rem !important;}
.mb40 {margin-bottom:2.5rem !important;}
.mb45 {margin-bottom:2.813rem !important;}
.mb50 {margin-bottom:3.125rem !important;}
.mb55 {margin-bottom:3.438rem !important;}
.mb60 {margin-bottom:3.75rem !important;}


/* 마진-좌측 */
.ml0 {margin-left:0 !important;}
.ml1 {margin-left:0.0625rem !important;}
.ml2 {margin-left:0.125rem !important;}
.ml3 {margin-left:0.1875rem !important;}
.ml4 {margin-left:0.25rem !important;}
.ml5 {margin-left:0.3125rem !important;}
.ml10 {margin-left:0.625rem !important;}
.ml15 {margin-left:0.9375rem !important;}
.ml20 {margin-left:1.25rem !important;}
.ml25 {margin-left:1.563rem !important;}
.ml30 {margin-left:1.875rem !important;}
.ml35 {margin-left:2.188rem !important;}
.ml40 {margin-left:2.5rem !important;}
.ml45 {margin-left:2.813rem !important;}
.ml50 {margin-left:3.125rem !important;}
.ml55 {margin-left:3.438rem !important;}
.ml60 {margin-left:3.75rem !important;}


/* 마진-우측 */
.mr0 {margin-right:0 !important;}
.mr1 {margin-right:0.0625rem !important;}
.mr2 {margin-right:0.125rem !important;}
.mr3 {margin-right:0.1875rem !important;}
.mr4 {margin-right:0.25rem !important;}
.mr5 {margin-right:0.3125rem !important;}
.mr10 {margin-right:0.625rem !important;}
.mr15 {margin-right:0.9375rem !important;}
.mr20 {margin-right:1.25rem !important;}
.mr25 {margin-right:1.563rem !important;}
.mr30 {margin-right:1.875rem !important;}
.mr35 {margin-right:2.188rem !important;}
.mr40 {margin-right:2.5rem !important;}
.mr45 {margin-right:2.813rem !important;}
.mr50 {margin-right:3.125rem !important;}
.mr55 {margin-right:3.438rem !important;}
.mr60 {margin-right:3.75rem !important;}


/* 패딩-상단 */
.pt0 {padding-top:0 !important;}
.pt1 {padding-top:0.0625rem !important;}
.pt2 {padding-top:0.125rem !important;}
.pt3 {padding-top:0.1875rem !important;}
.pt4 {padding-top:0.25rem !important;}
.pt5 {padding-top:0.3125rem !important;}
.pt10 {padding-top:0.625rem !important;}
.pt15 {padding-top:0.9375rem !important;}
.pt20 {padding-top:1.25rem !important;}
.pt25 {padding-top:1.563rem !important;}
.pt30 {padding-top:1.875rem !important;}
.pt35 {padding-top:2.188rem !important;}
.pt40 {padding-top:2.5rem !important;}
.pt45 {padding-top:2.813rem !important;}
.pt50 {padding-top:3.125rem !important;}
.pt55 {padding-top:3.438rem !important;}
.pt60 {padding-top:3.75rem !important;}


/* 패딩-하단 */
.pb0 {padding-bottom:0 !important;}
.pb1 {padding-bottom:0.0625rem !important;}
.pb2 {padding-bottom:0.125rem !important;}
.pb3 {padding-bottom:0.1875rem !important;}
.pb4 {padding-bottom:0.25rem !important;}
.pb5 {padding-bottom:0.3125rem !important;}
.pb10 {padding-bottom:0.625rem !important;}
.pb15 {padding-bottom:0.9375rem !important;}
.pb20 {padding-bottom:1.25rem !important;}
.pb25 {padding-bottom:1.563rem !important;}
.pb30 {padding-bottom:1.875rem !important;}
.pb35 {padding-bottom:2.188rem !important;}
.pb40 {padding-bottom:2.5rem !important;}
.pb45 {padding-bottom:2.813rem !important;}
.pb50 {padding-bottom:3.125rem !important;}
.pb55 {padding-bottom:3.438rem !important;}
.pb60 {padding-bottom:3.75rem !important;}


/* 패딩-좌측 */
.pl0 {padding-left:0 !important;}
.pl1 {padding-left:0.0625rem !important;}
.pl2 {padding-left:0.125rem !important;}
.pl3 {padding-left:0.1875rem !important;}
.pl4 {padding-left:0.25rem !important;}
.pl5 {padding-left:0.3125rem !important;}
.pl10 {padding-left:0.625rem !important;}
.pl15 {padding-left:0.9375rem !important;}
.pl20 {padding-left:1.25rem !important;}
.pl25 {padding-left:1.563rem !important;}
.pl30 {padding-left:1.875rem !important;}
.pl35 {padding-left:2.188rem !important;}
.pl40 {padding-left:2.5rem !important;}
.pl45 {padding-left:2.813rem !important;}
.pl50 {padding-left:3.125rem !important;}
.pl55 {padding-left:3.438rem !important;}
.pl60 {padding-left:3.75rem !important;}


/* 패딩-우측 */
.pr0 {padding-right:0 !important;}
.pr1 {padding-right:0.0625rem !important;}
.pr2 {padding-right:0.125rem !important;}
.pr3 {padding-right:0.1875rem !important;}
.pr4 {padding-right:0.25rem !important;}
.pr5 {padding-right:0.3125rem !important;}
.pr10 {padding-right:0.625rem !important;}
.pr15 {padding-right:0.9375rem !important;}
.pr20 {padding-right:1.25rem !important;}
.pr25 {padding-right:1.563rem !important;}
.pr30 {padding-right:1.875rem !important;}
.pr35 {padding-right:2.188rem !important;}
.pr40 {padding-right:2.5rem !important;}
.pr45 {padding-right:2.813rem !important;}
.pr50 {padding-right:3.125rem !important;}
.pr55 {padding-right:3.438rem !important;}
.pr60 {padding-right:3.75rem !important;}



/* 폰트사이즈 */
.font11 {font-size:11px !important;}
.font12 {font-size:12px !important;}
.font14 {font-size:14px !important;}
.font16 {font-size:16px !important;}
.font18 {font-size:18px !important;}
.font20 {font-size:20px !important;}

/* 폰트색상 */
.fontColor-blue {color:#007bff !important;}
.fontColor-indigo {color:#6610f2 !important;}
.fontColor-purple {color:#6f42c1 !important;}
.fontColor-pink {color:#e83e8c !important;}
.fontColor-red {color:#dc3545 !important;}
.fontColor-orange {color:#fd7e14 !important;}
.fontColor-yellow {color:#ffc107 !important;}
.fontColor-green {color:#28a745 !important;}
.fontColor-teal {color:#20c997 !important;}
.fontColor-cyan {color:#17a2b8 !important;}
.fontColor-white {color:#fff !important;}
.fontColor-gray {color:#868e96 !important;}
.fontColor-gray-dark {color:#343a40 !important;}
.fontColor-primary {color:#007bff !important;}
.fontColor-secondary {color:#868e96 !important;}
.fontColor-success {color:#28a745 !important;}
.fontColor-info {color:#17a2b8 !important;}
.fontColor-warning {color:#ffc107 !important;}
.fontColor-danger {color:#dc3545 !important;}
.fontColor-light {color:#f8f9fa !important;}
.fontColor-dark {color:#000 !important;}



